# Add files names (and patterns) you want git to ignore here.

# Ignore java .class files.
*.class

# Ignore everything in the build directory.
build/

# Ignore jetbrains intellij config stuff
*.iml
.idea/

# Ignore npm modules
node_modules/

# Ignore test reports etc from maven
target/

# Ignore generated scripts js file.
scripts.min.js

# Ignore minified files - css & js
*.min.js
*.min.css