.table {
  background-color: green;
  height: 500px;
  width: 80%;
  border-radius: 50%;
  margin: 0 auto;
  border: 1em solid black;
}

.board {
  position: relative;
  top: 40%;
  left: 30%;
}

.dealer-btn {
    font-size: 24px;
    line-height: 1.33;
    cursor: inherit;
    background-color: #cccccc;
}

.gray-bg-btn {
    font-size: 24px;
    line-height: 1.33;
    cursor: inherit;
    background-color: #cccccc;
}

.thin-black-border {
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

.btn-circle {
    width: 70px;
    height: 70px;
    border-radius: 35px;
}
/*
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
*/
.padding-bottom-md {
    padding-bottom: 30px;
}

.padding-bottom-large-md {
    padding-bottom: 52px;
}


.poker-table {
    height: auto;
    border-style: solid;
    border-width: thick;
    border-color: chocolate;
    border-radius: 45px;
    background-color: green;
    padding-left: 15%;
    padding-top: 5px;
    padding-bottom: 5px;
}