
.board {
  position: relative;
  top: 40%;
  left: 30%;
}

.dealer-btn {
    font-size: 24px;
    line-height: 1.33;
    cursor: inherit;
    background-color: #cccccc;
}

.gray-bg-btn {
    font-size: 24px;
    line-height: 1.33;
    cursor: inherit;
}

.thin-black-border {
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

.btn-circle {
    width: 70px;
    height: 70px;
    border-radius: 35px;
}
/*
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
*/
.padding-bottom-md {
    padding-bottom: 30px;
}

.padding-bottom-large-md {
    padding-bottom: 52px;
}

.padding-top-large-md {
    padding-top: 52px;
}

.padding-left-right-large-large {
    padding-left: 20%;
    padding-right: 20%;
}

@media (max-width: 1000px) {
    .display-none-if-small  {
        display: none;
    }
}

.poker-table {
    height: auto;
    border-style: solid;
    border-width: thick;
    border-color: chocolate;
    border-radius: 45px;
    background-color: rgba(51, 165, 183, 0.35);
    padding-left: 15%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.margin-bottom-md {
    margin-bottom: 2em;
}

.gray-background {
    background-color: #EEE;
}

.chip-stack {
    float: left;
    border: 9px dotted;
    background-color: #fff;
    font-size: 1.75rem; /*Responsive em scales nicely with mobile*/
    font-weight: bold;
    border-radius: 50px 50px 50px 50px;
    line-height: 48px;
    width: 65px;
    text-align: center;
    margin-right: 10px;
}

.red-border {
    border-color: red;
}

.green-border {
    border-color: green;
}

.yellow-border {
    border-color: yellow;
}

.purple-border {
    border-color: purple;
}

.blue-border {
    border-color: blue;
}

.brown-border {
    border-color: brown;
}

.black-border {
    border-color: black;
}