<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test page</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" sizes="16x16">
    <!--Favicon image obtained from here http://www.favicon.cc/?action=icon&file_id=746196 -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/poker.css">
    <link rel="stylesheet" href="https://rawgit.com/selfthinker/CSS-Playing-Cards/master/cards.css">
    <script   src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>

    <script src="scripts.js"></script>
    <script src="test.js"></script>
<body ng-app="testDemo" ng-controller="DemoCtrl" class="gray-background">
<div class="container poker-header">
    <header></header>
    <login ng-if="!showGame"></login>
    <poker-table ng-if="showGame" username="{{username}}"></poker-table>
</div>
</body>

</html>